.container {
    width: 700px;
    position: relative;
    float: left;
    background-color: #8ba4cd;
    border: 3px firebrick;
    border-style: solid;
    padding: 3px;
    margin: 3px;
}

.container > div {
    margin-left: 50px;
}

.record div, .container_head div {
    width: 100px;
    position: relative;
    float: left;

}

.record {
    width: 610px;
    position: relative;
    float: left;
    background-color: indianred;
    border: 2px solid black;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

