@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); 

.iii{
    width:100px;
    height:70px;
}

.footer{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.col{
    border: solid 1px black;
}