<!DOCTYPE html>
<html lang="en">

<head>
    <title>Students</title>
    @ require "app/web/include.php";
    <link rel="stylesheet" type="text/css" media="screen" href="css/student.css">
</head>

<body>
    <h2>Students</h2>

    <div class="container">
        <div class="container_head">
            <div>
                <p>Ім'я</p>
            </div>
            <div>
                <p>Прізвище</p>
            </div>
            <div>
                <p>Курс</p>
            </div>
            <div>
                <p>Група</p>
            </div>
            <div>
                <p>Дата народження</p>
            </div>
            <div>
                <p>Форма навчання</p>
            </div>
        </div>
        <?php  foreach ($students as $student): ?>
        <div class="record">

            <div><?= $student->name ?></div>
            <div><?= $student->surname ?></div>
            <div><?= $student->course ?></div>
            <div><?= $student->group_name ?></div>
            <div><?= $student->birthday ?></div>
            <div><?= $student->study_form_id ?></div>
        </div>

        <?php  endforeach; ?>

    </div>
</body>

</html>