@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); 

#admin-head{
    background-color: rgb(85, 122, 151);
    height: 170px;
}
#admin-label{
    color:azure;
    display: inline;
}
#wrapper{
    margin:0 100px 0 100px ;
}
#admin-head .nav-admin ,#exit-button button {
    float: right;
    margin-right: 10px;
    width: 100px; 
    position: relative;
    top:-30px;
}

#exit-button button  {
    margin-left: 30px;
}

.admin-back{
    margin-top:-40px;
}
/*???????*/
.input{
    background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%; 
    cursor: auto;
}

#add-product-form
{
    width:400px;
}

#go-to-add-page-button{
    width: 150px;
}

#table-header{
    margin: auto;
}


.table img{
    width:80px;
}

#img-edit{
    width:500px;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
}
.form-group{
    float: left;
}